@mixin buttonMod {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5px 25px;
    background-color: #DF0712;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
}

@mixin titulo {
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    color: #FFFFFF;
}

@mixin subTitulo {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    color: #FFFFFF;
}

@mixin paragrafo {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    background-color: #181818;
}

header{
    display: flex;
    width: 99vw;
    margin: 0 auto;
    height: 10vh;
    align-items: center;
    justify-content: center;
    gap: 60%;
    background-color: #111111;
    margin-bottom: 50px;

    img{
        width: 10%;
    }

    div{
        display: flex;
        width: 20%;
        justify-content: space-between;
        .acessar{
            @include buttonMod();
        }
        .entrar{
            @include buttonMod();
            background-color:  #181818;
            border: solid 1px #FFFCFC;
        }
    }
}

main{
    width: 80vw;
    margin: 0  auto;
}


.logoPrincipal{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 30px;

    img{
        width: 8%;
    }

    div{
        h1{
            @include titulo();
            font-size: 3rem;
        }
        h2{
            @include subTitulo();
            font-size: 3rem;
            font-weight: 300;
        }
    }
}

.catalogo{
    display: flex;
    justify-content: space-between;
    color: white;
    margin-bottom: 50px;

    div{
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        color: white;
        gap: 10px;

        img{
            width: 100%;
        }

        h3{
            @include subTitulo();
            width: 70%;
            font-weight: 300;
        }

        p{
            @include paragrafo();
            width: 80%;
            font-weight: 300;
        }
    }
}

footer{
    display: flex;
    width: 99vw;
    margin: 0 auto;
    height: 8vh;
    background-color: #111111;
    align-items: center;

    ul{
        display: flex;
        width: 50%;
        justify-content: space-between;
        margin-left: 50px;

        li{
            list-style-type: none;
            
            a{
                @include subTitulo();
                font-weight: 600;
                text-decoration: none;
            }
        }

    }

}